.header {

  .navbar-default {

    .navbar-header {
      background: transparent;
    }
    border-top: 5px solid #00aeda;
    background: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    .navbar-nav {
      margin-right: 0px;
    }
    .menu-events {
      display: block;
      overflow: hidden;
    }
    ul {
      li {
        margin: 0 0.1em;
        position: relative;
        padding-top: 0;
        padding-bottom: 0;
        border: none;
        a {
          padding: 0.1em 0.6em;
          font-size: 0.85em;
          font-weight: 600;
          line-height: 4em;
          color: #3d3d3d;
          text-transform: uppercase;
          &:hover {
            color: #00aeda;
          }
        }
        .dropdown-menu {
          li {
            a {
              padding: 0.1em 0.2em;
              line-height: 2.5em;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
  .navbar-nav > li > a {
    padding: 0.2em;
  }
  .navbar-default.stuck {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 200;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
  }
}

.menu-resp {
  display: none !important;
  @media (max-width: $screen-xs-max) {
    display: block !important;
  }
}

.menu {
  padding-top: 40px;
  position: relative;
  @media (max-width: $screen-sm-max) {
    padding-top: 0px;
  }

}

.events-menu-drop {
  @media (max-width: $screen-xs-max) {
    display: none;
  }
  position: absolute;
  top: 0px;
  right: 0px;
  padding-right: 15px;
  margin-top: 2px !important;
  border-radius: 3px;
}

.section {
  border-top: 5px solid #00aeda;
  display: block;
  background: #fff;
  padding: 2em;
  -webkit-box-shadow: 0 4px 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 1px 0 rgba(0, 0, 0, 0.05);
  article {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.714em;
    color: #6a6a6a;
    -webkit-font-smoothing: subpixel-antialiased;
  }
}

h3 {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 1em;
  span {
    color: #00aeda;
  }
}

.page-block {
  padding: 1em;
  margin-bottom: 15px;
}

.link {
  color: #00aeda;
}

.page-head {
  display: block;
  margin: -2em -2em 2em -2em;
  padding: 1.5em 2em;
  background: #fbfbfb;
  border-bottom: #ececec 1px solid;
  h3 {
    margin-bottom: 0px;
  }
}

.colored {
  background: $primary-color;
  h3, p {
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 0px;
  }
  p {
    font-weight: 300;
  }
}

.xs-section {
  padding-top: 0;
  border-top: 0 !important;
  margin-top: -2em;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}

.panel-heading {
  padding: 0px;
  a {
    display: block;
    padding: 1em 1em 1em 1.5em;
    color: #fff;
    font-weight: bold;
    min-height: 2.5em;
    span {
      display: block;
      margin: -2.8em -1em -1em 2em;
      background: #f5f5f5;
      padding: 1em;
      color: #6a6a6a;
      margin-top: -1em;
    }
  }
  .collapsed {
    span {
      &:before {
        content: '\f067';
        font-family: 'FontAwesome';
        color: #fff;
        position: absolute;
        left: 2.35em;
      }
    }
  }
  span {
    &:before {
      font-family: 'FontAwesome';
      color: #fff;
      position: absolute;
      left: 2.35em;
      content: '\f068';
    }
  }
}

.sec-contents {
  display: block;
  background: #fff;
}

.speaker-grid {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .col-sm-6 {
      &:nth-child(2n+1) {
        clear: both;
      }
    }
  }
  @media (min-width: $screen-sm-max) {
    .col-md-4 {
      &:nth-child(3n+1) {
        clear: both;
      }
    }
  }

  .speaker-link {
    display: block;
    overflow: hidden;
    margin-bottom: 15px;
    &:hover {
      h5 {
        color: $primary-color;
      }
    }
  }
  figure {
    text-align: center;
    img {
      width: 200px;
      height: 200px;
      border-bottom: 4px solid $primary-color;
      //border-radius: 50%;
    }
  }
  .speaker {
    text-align: center;

  }
}

.partner {
  a {
    img {
      background-color: #ececec;
      width: 25%;
      float: left;
      padding: 1px;
      opacity: 0.5;
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter ….3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
      filter: gray;
      -webkit-filter: grayscale(100%);
    }
    &:hover {
      img {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        opacity: 1;
        filter: none;
        -webkit-filter: grayscale(0%);
      }
    }
  }
}

.sponsors-div {
  margin-bottom: 30px;
  width: 100%;
  display: block;
  text-align: center;
  a {
    margin-right: 3px;
    margin-left: 3px;
    position: relative;
    vertical-align: middle;
    text-align: center;
    width: 30%;
    display: inline-block;
    overflow: hidden;
    img {
      display: inline-block;
    }
    span {
      bottom: 0px;
      right: 0px;
      padding: 0px 20px;
      position: absolute;

      color: #ffffff;
    }
  }
}

.gold {
  a {
    border-bottom: 1px solid $primary-color;
  }
  img {
    max-height: 200px;
    max-width: 100%;
  }
  span {
    background: $primary-color;
  }
}

.platinum {
  a {
    border-bottom: 1px solid #747D86;
    span {
      background: #747D86;
    }
  }
  img {
    max-height: 150px;
    max-width: 100%;
  }

}

.academic {
  a {
    border-bottom: 1px solid #F6B45E;
    span {
      background: #F6B45E;
    }
  }
  img {
    max-height: 120px;
    max-width: 100%;
  }

}

.silver {
  a {
    width: 20%;
    border-bottom: 1px solid #C3C3C3;
    span {
      background: #C3C3C3;
    }
  }
  img {
    max-height: 80px;
    max-width: 100%;
  }

}

.social {
  a {
    color: #fff;
    opacity: 0.7;
    font-size: 1.7em;
    &:hover {
      opacity: 1;
    }
  }
}

.language-chooser form {
  display: inline;
  margin: 0;
  padding: 0;
}

.language-chooser button {
  border: none;
  background: none;
  font-size: 0.85em;
  font-weight: 600;
  color: #3d3d3d;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.1em 0.2em;
  line-height: 2.5em;
  vertical-align: middle;
  width: 100%;
  text-align: left;
  &:hover {
    color: $primary-color;
  }
}

.company-half {
  &:nth-child(2n+1) {
    clear: both;
  }
  margin-bottom: 10px;
}

.organizer-list {
  li {
    img {
      max-height: 40px;
      padding: 0px 10px;
      max-width: 100px;
    }
  }
}

.organizer-top {
  li {
    img {
      max-height: 100px;
      padding: 0px 10px;
      max-width: 150px;
    }
  }
}

.modal {

  .close {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 99;
    font-size: 40px;
    color: #46B6D2;
    opacity: 1;
  }
  .speaker-info {
    @extend .modal-content;
    overflow: hidden;
    .header-info {
      overflow: hidden;
      display: block;
    }
    border-radius: 0px;
    .body-info {
      h3 {
        margin-bottom: 2px;
      }
      border-top: 5px solid #46B6D2;
      padding: 5px;
      overflow: hidden;
      div {
        padding: 2px;
      }
      @extend .modal-body;
      .content-img {
        padding-top: 25px;
      }
      .img-speaker {

        max-width: 100%;

      }
      .img-spk {
        width: 100px;
        height: 100px;
        //border-radius: 50%;
        background-position: center;
        background-size: cover;
      }
      .info {
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        overflow: hidden;
        @extend .col-lg-12;
        .content-img {
          @extend .col-sm-3;
        }
        .content-description {
          @extend .col-sm-9;
          .details {
            text-align: justify;
            h3 {
              font-weight: bold;
              font-size: 16px;

            }
            .content-info {
              font-size: 15px;
              white-space: pre-line;
            }
          }
          .speaker-company-logo {
            padding-bottom: 10px;
            img {
              max-height: 120px;
              max-width: 90%;
            }
          }
        }
      }
    }
  }
}

a:focus {
  outline: none;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}

