html, p, ul, li, span, a, h1, h2, h3, h4, h5, h6, div {
  font-family: "Roboto";
}

html, body, div, p, table, tr, td, th, tbody, tfoot, ul, li, ol, dl, dd, dt, fieldset, blockquote, cite, input, select, textarea, button, a, section, article, aside, header, footer, nav {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714em;
  color: #6a6a6a;
  -webkit-font-smoothing: subpixel-antialiased;
}

.navbar-header, .btn, .schedule-box h6.section-head span, header.colored, .panel-heading a, .navigation nav ul li, .dateBox span, .hoverImg, .single-post-heading, .tags a:hover, .tagcloud a:hover, .add-comment, .comment-reply-link:hover, .admin-comment, .format-link .post-content > a, .format-link .post-content > p > a, .widget_search .search-form input[type="submit"], .widget_search input[type="submit"] {
  background-color: #00aeda;
}

a, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, #home li a:hover, .styled div, h3 span, .speaker .col-md-2 i, #directionsPanel .adp-summary, #schedule .nav-tabs li.active h5, .recent-post-entry h5 a:hover, .widget_calendar table caption, .widget_calendar table tr td a {
  color: #00aeda;
}

a {
  &:hover, &:focus {
    text-decoration: none;
    color: #000;
  }

}

.no-padding {
  padding: 0 !important;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

article{
      overflow: hidden;
}