@import url(https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,100,100italic,400italic,500,700,500italic,700italic,900,900italic);
@import "bootstrap";
@import "font-awesome";
@import "media-queries";
@import "vars";
@import "reset";
@import "components";

body {
  background-image: url("../img/img1.jpg");
  background-position: center;
  background-color: $primary-color;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
}

.wrap {
  width: 100%;
  height: 100%;
  background: url("../img/body-bg1.png") repeat;
}

.main {
  h1, p, a {
    color: #ffffff;
  }
  h1 {
    font-weight: 700;
    text-transform: uppercase;
  }
  .text-muted {
    font-weight: 700;
    text-transform: uppercase;
  }
  .date {
    font-weight: normal;
    font-size: 25px;
    padding: 10px;
  }

}

.schedule_section {
  .nav-tabs {
    @media (max-width: $screen-sm-max) {
      display: none;
    }
    border-bottom: 1px solid #ddd;
    li {
      margin: 0;
      border: #e5e5e5 1px solid;
      border-style: none none none solid;
      a {
        display: block;
        padding: 1.5em 3.5em 1.5em 2em;
        margin: 0;
        clear: both;
        border-radius: 0px;
        i {
          font-size: 3em;
          color: $text-color;
          margin-top: -0.2em;
        }
        h5 {
          white-space: nowrap;
          display: inline-block;
          color: #3d3d3d;
          font-size: 1.286em;
          font-weight: 500;
        }
        small {
          color: #777;
        }
      }
    }
    li.active span.arrow {
      display: block !important;
      width: 15px;
      height: 10px;
      background: url('../img/tab-active.png') no-repeat 0 0;
      margin: 0 auto -11px auto;
    }
    li.active a {
      background: #fbfbfb;
      i {
        color: $primary-color;
      }
    }

  }
  .nav-tabs > li {
    margin-bottom: 0px;
  }
  .tab-pane {

    padding: 3em 2em 2em 2em;
    h3 {
      i {
        color: $primary-color;
      }

    }
  }
  .tab-content > .tab-pane {
    @media (max-width: $screen-sm-max) {
      display: block;
    }
    /* display: none; */
  }
  .section-head {
    display: inline-block;
    color: #fff;
    padding: 0.7em 1em;
    background-color: #00aeda;
    span {
      font-size: 1.05em;
    }
    margin-bottom: 0px;
  }
  .activities {
    display: block;
    margin: 0 0 2em 0;
    background: #fbfbfb;
    border: #e5e5e5 1px solid;
    padding: 0;
    li {
      ul {
        li {
          padding: 0px;
          border: 0px;
          list-style-type: disc;
          display: list-item;
        }
      }
      display: block;
      padding: 2em 1.5em;
      border-top: #e5e5e5 1px solid;
      &:first-child {
        border-top: #e5e5e5 0px solid;
      }
      h6 {
        font-size: 1.143em;
        font-weight: 500;
        color: #3d3d3d;
        strong {
          color: $primary-color;
        }
      }
    }
  }

}

a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer {
  .page-head {
    border-bottom: 0px solid $primary-color;
  }
  .section {
    padding: 0px;
  }
  .page-head {
    margin: 0px;
  }
}

.credits {
  color: #ffffff;
}

.top {
  display: inline;
  color: #fff;
  text-align: center;
  padding: 0.8em 0.8em 1em 1.3em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 1em;
  bottom: 1em;
  opacity: 0.8;
  i {
    margin-right: 0.3em;
  }
  &:hover {
    opacity: 1;
    color: #ffffff;
  }
}

.dont-border-section {
  border-top-width: 0px;
}