{% load i18n %}
<!DOCTYPE html>
<html>
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as lang %}
<head lang="en">
    <meta charset="UTF-8">
    <meta name="author" content="CEO Leadership Conference">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description"
          content="Biggest Pacific Alliance Seminar in the region">
    <meta name="keywords"
          content="Conference, investment, opportunities, Pacific Alliance, forum, panels, peru, colombia , mexico , chile">
    <meta name="author" content="El Dorado Investments">
    <meta name="Robots" content="all">
    <meta name="Language" content="English">
    <meta name="distribution" content="global">
    <meta property="og:title" content="CEO Leadership Conferencey"/>
    <meta property="og:site_name" content="CEO Leadership Conference"/>
    <meta property="og:url" content="#"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>
    <meta property="og:description"
          content="Biggest Pacific Alliance Seminar in the region"/>
    <title>
        {% if LANGUAGE_CODE == 'es' %}
            {{ event.name_es }}
        {% else %}
            {{ event.name }}
        {% endif %}
    </title>
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet"/>
    <script src="{{ STATIC_URL }}js/all.min.js"></script>
</head>
<body>
{% include 'menu.html' %}
<div class="wrap">
    <div id="top" class="main page-block">
        <header class="clearfix">
            <div class="text-center">
                <div class="venue">
                    {% if LANGUAGE_CODE == "es" %}
                        <img style="max-height:225px;max-width: 100%;"
                             src="{{ STATIC_URL }}img/alianza-blanco-es.png"><br>
                    {% else %}
                        <img style="max-height:225px;max-width: 100%;"
                             src="{{ STATIC_URL }}img/logoaliance.png"/> <br>
                    {% endif %}


                    <h1>
                        {% if LANGUAGE_CODE == 'es' %}
                            {{ event.name_es }}
                        {% else %}
                            {{ event.name }}
                        {% endif %}
                    </h1>
                    <ul class="list-inline">
                        <ul class="list-inline ">
                            {% if LANGUAGE_CODE == "es" %}
                                <li>
                                    <img style="max-width: 100%;" src="{{ STATIC_URL }}img/logolar-alt-span_es.png"
                                         alt="{{ event.name }}"/>
                                </li>
                            {% else %}
                                <li>
                                    <img style="max-width: 100%;" src="{{ STATIC_URL }}img/logolar-alt-rev-last.png"
                                         alt="{{ event.name }}"/>
                                </li>
                            {% endif %}


                        </ul>
                    </ul>

                    <p class="date">
                        <span>{{ event.date }}</span>
                    </p>

                    <p class="text-muted" style="font-size:14pt;">
                        {% if LANGUAGE_CODE == 'es' %}
                            {{ event.place_es }}
                        {% else %}
                            {{ event.place_en }}
                        {% endif %}

                    </p>

                </div>
            </div>
        </header>
    </div>
    <section id="intro" class="page-block">
        <div class="container">
            <div class="section">
                <article>
                    <h3><span> {% trans 'About' %}  {% trans 'event' %} </span></h3>

                    <p></p>

                    <div class="col-md-4  ">
                        <strong>
                            <span style="color: #00aeda;">
                                {% if LANGUAGE_CODE == 'es' %}
                                    {{ event.name_es }}
                                {% else %}
                                    {{ event.name }}
                                {% endif %}
                            </span>
                        </strong>

                        {% if LANGUAGE_CODE == 'es' %}
                            {{ event.description_es|safe }}
                        {% else %}
                            {{ event.description_en|safe }}
                        {% endif %}

                    </div>
                    <div class="col-md-4  ">
                        <strong>
                            <span style="color: #00aeda;">{% trans 'Issues' %}</span>
                        </strong>

                        {% if LANGUAGE_CODE == 'es' %}
                            {{ event.main_topics_es|safe }}
                        {% else %}
                            {{ event.main_topics_en|safe }}
                        {% endif %}

                    </div>
                    <div class="col-md-4  ">
                        <img
                                class="aligncenter size-medium" style="max-width: 100%;"

                                src="{{ STATIC_URL }}img/presidentes.jpg"
                                alt="Presidentes">
                        <br/>
                    </div>

                </article>
            </div>
            <!--end-section-->
        </div>
    </section>
    <section id="schedule" class="page-block">
        <div class="container">
            <div class="sec-content sec-contents">
                <div id="schedule" class="schedule_section">
                    <div class="section no-padding clearfix">
                        <ul class="nav nav-tabs clearfix">
                            <li class="active">
                                <a href="#event-schedule" data-toggle="tab">
                                    <i class="fa fa-clock-o"></i>
                                    <h5>Agenda <br>
                                        <small>{% trans 'Daily Activities' %}</small>
                                    </h5>
                                </a>
                                <span class="arrow"></span>
                            </li>
                            <li class="">
                                <a href="#promo" data-toggle="tab">
                                    <i class="fa fa-key"></i>
                                    <h5> {% trans 'Who participated?' %} <br>
                                        <small>{% trans 'Who participated?' %}</small>
                                    </h5>
                                </a>
                                <span class="arrow"></span>
                            </li>
                            <li>
                                <a href="#event-gallery" data-toggle="tab" style="padding-top: 35px;">
                                    <i class="fa fa-check"></i>
                                    <h5 style="    margin-top: 0px;
                                    margin-bottom: 15px;
    vertical-align: middle;
    ">{% trans 'Main Topics' %} <br/>

                                    </h5>
                                </a>
                                <span class="arrow"></span>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="event-schedule">
                                <h3><i class="fa fa-clock-o"></i> <span>Agenda</span></h3>
                                {% if event.pdf_agenda_es and LANGUAGE_CODE == 'es' %}
                                    <a target="_blank" href="{{ event.pdf_agenda_es }}">
                                        <strong>
                                            {% trans 'Downland in PDF' %}
                                        </strong>
                                    </a>
                                {% endif %}

                                {% if event.pdf_agenda_en and LANGUAGE_CODE == 'en' %}
                                    <a target="_blank" href="{{ event.pdf_agenda_en }}">
                                        <strong>
                                            {% trans 'Downland in PDF' %}
                                        </strong>
                                    </a>
                                {% endif %}
                                <div class="row clearfix">
                                    {% for day in event.days.all %}
                                        <div class="col-md-{{ number_days }} col-sm-12 schedule-box">
                                            <h6 class="section-head"><span>{{ day.day }}</span></h6>
                                            <ul class="activities">
                                                {% for conference in day.conferences.all %}
                                                    <li class="activity">
                                                        <h6><strong>{{ conference.init_hour|date:"H:i" }}</strong> -
                                                            {% if LANGUAGE_CODE == 'es' %}
                                                                {{ conference.name_es }}
                                                            {% else %}
                                                                {{ conference.name_en }}
                                                            {% endif %}
                                                        </h6>

                                                        <p>
                                                            {% if LANGUAGE_CODE == 'es' %}
                                                                {{ conference.about_es }}
                                                            {% else %}
                                                                {{ conference.about_en }}
                                                            {% endif %}
                                                        </p>
                                                        {% if conference.speakers %}
                                                            <p>
                                                                <strong>{% trans 'Speakers' %}: </strong>{{ conference.speakers }}
                                                            </p>
                                                        {% endif %}
                                                        <p> {% if LANGUAGE_CODE == 'es' %}
                                                            {{ conference.panelist_es|safe }}
                                                        {% else %}
                                                            {{ conference.panelist_en|safe }}
                                                        {% endif %}</p>

                                                        {% if conference.moderators %}
                                                            <p>
                                                                <strong>{% trans 'Moderators' %}: </strong>{{ conference.moderators }}
                                                            </p>
                                                        {% endif %}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endfor %}

                                </div>
                                <!--end-of-row-->
                            </div>

                            <!--end-event-schedule-content-->
                            <div class="tab-pane " id="promo">
                                <h3>
                                    <i class="fa fa-play-circle"></i>
                                    <span> {% trans 'Who participated?' %}</span>
                                </h3>


                                {% if LANGUAGE_CODE == 'es' %}
                                    {{ event.who_participated_es|safe }}
                                {% else %}
                                    {{ event.who_participated_en|safe }}
                                {% endif %}


                            </div>
                            <!--end-event-schedule-content-->
                            <div class="tab-pane" id="event-gallery">
                                <h3><i class="fa fa-picture-o"></i><span> {% trans 'Main Topics' %}</span></h3>

                                {% if LANGUAGE_CODE == 'es' %}
                                    {{ event.main_topics_es|safe }}
                                {% else %}
                                    {{ event.main_topics_en|safe }}
                                {% endif %}

                                <!--end-img-grid-->
                            </div>
                            <!--end-event-schedule-content-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="organizers" class="page-block">
        <div class="container">
            {% if organizers %}
                <div class="section clearfix">
                    <header class="page-head  clearfix">
                        <h3>{% trans 'Organizers' %}</h3>

                        <p class="text-muted"></p>
                    </header>
                </div>
                <div class="sec-content sec-contents">
                    <div class="section clearfix xs-section bottom-margin">
                        <article class="row">
                            <div class="clearfix">
                                <div class="panel-group clearfix">
                                    {% for organizer in organizers %}
                                        <div class="col-md-6 company-half">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse"
                                                           data-parent="#questions"
                                                           href="#organizer{{ organizer.id }}" class="collapsed">
                                                        <span>
                                                            {{ organizer.name }}
                                                        </span>
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="organizer{{ organizer.id }}" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <img
                                                                src="{{ organizer.picture.small_full.url }}"
                                                                alt="{{ organizer.name }}"
                                                                class="alignleft size-full9"/>
                                                        {% if LANGUAGE_CODE == 'es' %}
                                                            {{ organizer.about_es|safe }}
                                                        {% else %}
                                                            {{ organizer.about_en|safe }}
                                                        {% endif %}
                                                        {% if organizer.web %}
                                                            Web:<a href="{{ organizer.web }}"
                                                                   target="_blank"> {{ organizer.web }}</a>

                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            {% endif %}
            {% if collaborators %}


                <div class="section clearfix dont-border-section">
                    <header class="page-head  clearfix">
                        <h3>{% trans 'Collaborators' %}</h3>

                        <p class="text-muted"></p>
                    </header>
                </div>
                <div class="sec-content sec-contents">
                    <div class="section clearfix xs-section bottom-margin">
                        <article class="row">
                            <div class="clearfix">
                                <div class="panel-group clearfix">
                                    {% for organizer in collaborators %}
                                        <div class="col-md-6 company-half">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse"
                                                           data-parent="#questions"
                                                           href="#organizer{{ organizer.id }}" class="collapsed">
                                                        <span>
                                                            {{ organizer.name }}
                                                        </span>
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="organizer{{ organizer.id }}" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <img
                                                                src="{{ organizer.picture.small_full.url }}"
                                                                alt="{{ organizer.name }}"
                                                                class="alignleft size-full9"/>
                                                        {% if LANGUAGE_CODE == 'es' %}
                                                            {{ organizer.about_es|safe }}
                                                        {% else %}
                                                            {{ organizer.about_en|safe }}
                                                        {% endif %}
                                                        <br>
                                                        {% if organizer.web %}
                                                            Web:<a href="{{ organizer.web }}"
                                                                   target="_blank"> {{ organizer.web }}</a>

                                                        {% endif %}

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>

    <section id="speakers" class="page-block">
        <div class="container">
            <div class="section clearfix">
                <header class="page-head colored clearfix">
                    <h3>{% trans 'Speakers of the Event' %}</h3>

                    <p class="text-muted"> {% trans 'We’ve got expert’s speech from around the world' %}</p>
                </header>
            </div>
            <div class="sec-content sec-contents">
                <div class="bottom-margin clearfix"></div>
                <div class="row clearfix speaker-grid">
                    {% for speaker in event.speakers.all %}
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <a href="#" class="link-modal speaker-link" data-toggle="modal"
                               data-target="#speaker{{ speaker.id }}">
                                <div class="no-padding">
                                    <figure>
                                        <img src="{{ speaker.picture.small.url }}"
                                             alt="Speaker" class="img-speaker">
                                    </figure>
                                    <div class="speaker">
                                        <div class="col-md-12">
                                            <h5>{{ speaker.name }} </h5>

                                            <p>{% if LANGUAGE_CODE == 'es' %}
                                                {{ speaker.position_es }}
                                            {% else %}
                                                {{ speaker.position_en }}
                                            {% endif %}
                                            </p>

                                            {% if speaker.company %}
                                                <p>{{ speaker.company.name }}</p>
                                                <p>
                                                    <img src="{{ speaker.company.picture.url.small_full }}"
                                                         style="max-width: 100%; max-height: 50px"
                                                         alt=""/>
                                                </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        <div class="modal fade" id="speaker{{ speaker.id }}" tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel">
                            <div class="modal-dialog">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <div class="speaker-info">
                                    <div class="body-info">

                                        <div class="info">
                                            <div class="content-img">
                                                {% if speaker.picture %}
                                                    <div class="img-spk"
                                                         style="background-image: url('{{ speaker.picture.small_full.url }}')">
                                                    </div>
                                                {% endif %}

                                            </div>
                                            <div class="content-description">
                                                <div class="details">
                                                    <h3>{{ speaker.name }}</h3>
                                                    {% if speaker.company %}
                                                        <h4>{{ speaker.company.name }}</h4>
                                                        {% if speaker.company.picture %}
                                                            <div class="speaker-company-logo">
                                                                <img src="



                                                                        {{ MEDIA_URL }}{{ speaker.company.picture.small_full.url }}"
                                                                     alt="{{ speaker.company.name }}"/>
                                                            </div>
                                                        {% endif %}
                                                    {% endif %}

                                                    <div class="content-info">
                                                        <p>{% if LANGUAGE_CODE == 'es' %}
                                                            {{ speaker.about_es }}{% else %}
                                                            {{ speaker.about_en }}{% endif %}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section id="sponsors" class="page-block">
        <div class="container">
            <div class="section clearfix">
                <header class="page-head  clearfix">
                    <h3>{% trans 'Sponsors' %}</h3>

                    <p class="text-muted">{% trans 'Our Esteemed Sponsors for this event' %}</p>
                </header>
                <article>
                    <div class="gold sponsors-div">
                        {% for sponsor in sponsors_diamond %}<a target="_blank" href="{{ sponsor.web }}" title="{{ sponsor.name }}">
                                <img class="img-responsive"
                                     src="{{ sponsor.picture.normal_full.url }}"
                                     alt="{{ sponsor.name }}"> <span>Diamond</span>
                            </a>{% endfor %}

                    </div>
                    <div class="platinum sponsors-div">
                        {% for sponsor in sponsors_platinium %}<a target="_blank" href="{{ sponsor.web }}" title="{{ sponsor.name }}">
                                <img class="img-responsive"
                                     src="{{ sponsor.picture.normal_full.url }}"
                                     alt="{{ sponsor.name }}"> <span>Platinium</span>
                            </a>{% endfor %}
                    </div>
                    <div class=" sponsors-div academic">
                        {% for sponsor in sponsors_academic %}<a target="_blank" href="{{ sponsor.web }}" title="{{ sponsor.name }}">
                                <img class="img-responsive"
                                     src="{{ sponsor.picture.normal_full.url }}"
                                     alt="{{ sponsor.name }}"> <span>Academic</span>
                            </a>{% endfor %}
                    </div>
                    <div class=" sponsors-div silver">
                        {% for sponsor in sponsors_silver %}<a target="_blank" href="{{ sponsor.web }}" title="{{ sponsor.name }}">
                                <img class="img-responsive"
                                     src="{{ sponsor.picture.normal_full.url }}"
                                     alt="{{ sponsor.name }}"> <span>Silver</span>
                            </a>{% endfor %}
                    </div>
                </article>
            </div>
            <div class="sec-content sec-contents">
            </div>
        </div>
    </section>
    <section id="partners" class="page-block">
        <div class="container">
            <div class="section clearfix">
                <header class="page-head colored clearfix">
                    <h3>{% trans 'Media Partners' %}</h3>


                </header>

            </div>
            <div class="sec-content sec-contents">
                <div class="section xs-section bottom-margin clearfix">
                    <div class="partner clearfix">{% for media in partners %}<a
                            target="_blank" href="{{ media.web }}" title="{{ media.name }}">
                        <img class="img-responsive"
                             src="{{ media.picture.small_full.url }}"
                             alt="{{ media.name }}"> </a>{% endfor %}</div>
                </div>
            </div>
        </div>
    </section>
    <div id="footer" class="page-block footer">
        <div class="container">
            <div class="section no-border">
                <header class="page-head colored clearfix">
                    <div class="col-md-8 col-sm-12">
                        <h3 class="subscribeHeading">{% trans 'Organizers' %}</h3>
                        <ul class="list-inline ">
                            <li>
                                <img style="max-width: 100%;" src="{{ STATIC_URL }}img/logolar-alt-rev-last.png"
                                     alt="{{ event.name }}"/>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-md-offset-1 col-sm-12">
                        <h3>{% trans "Let's Get Social" %}</h3>

                        <div class="social">
                            <ul class="list-inline ">
                                {% if  event.link_facebook %}
                                    <li><a target="_blank" class="tips" href="{{ event.link_facebook }}" title=""
                                           data-original-title="1"><i
                                            class="fa fa-facebook"></i></a></li>
                                {% endif %}
                                {% if  event.link_google_plus %}
                                    <li><a target="_blank" class="tips" href="{{ event.link_google_plus }}" title=""
                                           data-original-title="1"><i
                                            class="fa fa-google-plus"></i></a></li>
                                {% endif %}
                                {% if  event.link_twitter %}
                                    <li><a target="_blank" class="tips" href="{{ event.link_twitter }}" title=""
                                           data-original-title="1"><i
                                            class="fa fa-twitter"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>
                        <!-- end social -->
                    </div>
                </header>

            </div>
            <!--end-of-section-->
        </div>
    </div>
    <p class="text-center credits">

        {% if LANGUAGE_CODE == 'es' %}
            {{ event.name_es }}
        {% else %}
            {{ event.name }}
        {% endif %}


        <br>
        {% if LANGUAGE_CODE == 'es' %}
            Hecho con <i class="fa fa-heart"></i> en <a href="http://kodevian.com" target="_blank"> Lima - Perú </a>
        {% else %}
            Made with  <i class="fa fa-heart"></i> in <a href="http://kodevian.com" target="_blank"> Lima - Perú </a>
        {% endif %}
    </p>
    <a href="#top" class="top" style="display: block;"><i class="fa fa-arrow-up fa-lg"></i></a>

</div>
</body>
</html>

