{% load i18n %}
<!DOCTYPE html>
<html>
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as lang %}
<head lang="en">
    <meta charset="UTF-8">
    <meta name="author" content="CEO Leadership Conference">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description"
          content="Biggest Pacific Alliance Seminar in the region">
    <meta name="keywords"
          content="Conference, investment, opportunities, Pacific Alliance, forum, panels, peru, colombia , mexico , chile">
    <meta name="author" content="El Dorado Investments">
    <meta name="Robots" content="all">
    <meta name="Language" content="English">
    <meta name="distribution" content="global">
    <meta property="og:title" content="CEO Leadership Conferencey"/>
    <meta property="og:site_name" content="CEO Leadership Conference"/>
    <meta property="og:url" content="#"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>
    <meta property="og:description"
          content="Biggest Pacific Alliance Seminar in the region"/>
    <title>CEO Leadership Conference</title>
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet"/>
    <script src="{{ STATIC_URL }}js/all.min.js"></script>
</head>
<body>
<div class="wrap">
    <div id="top" class="main page-block">
        <header class="clearfix">
            <div class="text-center">
                <div class="venue">
                    <h3 style="color: #ffffff;">{% trans 'Do not exist a main event, yet' %}</h3>
                </div>
            </div>
        </header>
    </div>
</div>

</body>
</html>