{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as lang %}
{% get_language_info_list for LANGUAGES as languages %}
<div class="header">
    <nav class="navbar navbar-default" id="navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-navbar-collapse-1"><span class="sr-only"></span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
                <a href="" class="logo-brand">
                    {% if LANGUAGE_CODE == "es" %}
                    <img src="{{ STATIC_URL }}img/ceo-leadership-logo-es.png" style=""
                         alt="site name"
                         class="logo-head2">
                    {% else %}
                    <img src="{{ STATIC_URL }}img/ceo-leadership-logo-english.png" style=""
                         alt="site name"
                         class="logo-head2">
                    {% endif %}
                </a>
            </div>
            <div class="menu">
                <ul class="nav navbar-nav navbar-right events-menu-drop" style="display: none;">
                    <li><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                           aria-expanded="false">
                        {% trans 'Others Events' %}
                        <span class="caret"></span>
                    </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a target="_blank" href="http://bs2015.ceoleadershipconference.pe">
                                    Pacific Alliance Business Summit 2015
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                           aria-expanded="false">

                            {% for language in languages %}
                                {% if language.code == LANGUAGE_CODE %}
                                    {{ language.name_local }}
                                {% endif %}
                            {% endfor %}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu language-chooser">

                            {% for language in languages %}
                                {% if language.code != LANGUAGE_CODE %}
                                    <li>
                                        <form action="{% url 'set_language' %}" method="post">
                                            {% csrf_token %}
                                            <input name="next" type="hidden" value="{{ redirect_to }}"/>
                                            <input name="language" type="hidden" value="{{ language.code }}"/>
                                            <button type="submit">{{ language.name_local }}</button>
                                        </form>
                                    </li>
                                {% endif %}

                            {% endfor %}

                        </ul>
                    </li>
                </ul>

                <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-right">

                        {% if  event.section_about %}
                            <li><a href="#intro">{% trans 'About' %}</a></li>
                        {% endif %}
                        {% if  event.section_agenda %}
                            <li><a href="#schedule">Agenda</a></li>
                        {% endif %}
                        {% if  event.section_organizers %}
                            <li><a href="#organizers">{% trans 'Organizers' %}</a></li>
                        {% endif %}
                        {% if  event.section_speakers %}
                            <li><a href="#speakers">{% trans 'Speakers' %}</a></li>
                        {% endif %}
                        {% if  event.section_sponsors %}
                            <li><a href="#sponsors">{% trans 'Sponsors' %}</a></li>
                        {% endif %}
                        {% if  event.section_media_partners %}
                            <li><a href="#partners">{% trans 'Media' %}</a></li>
                        {% endif %}
                        {% if  event.section_news %}
                            <li><a href="#news">{% trans 'News' %}</a></li>
                        {% endif %}
                        {% if  event.section_photos or  event.section_videos or event.section_presentations %}
                            <li><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                   aria-haspopup="true" aria-expanded="false">
                                {% trans 'Gallery' %}
                                <span class="caret"></span>
                            </a>
                                <ul class="dropdown-menu">

                                    <li><a href="">{% trans 'Photos' %}</a></li>
                                    <li><a href="">{% trans 'Videos' %}</a></li>
                                    <li>
                                        <a href="">{% trans 'Presentations' %}</a>
                                    </li>

                                </ul>
                            </li>
                        {% endif %}
                        <li class=""><a class="dropdown-toggle " data-toggle="dropdown" href="#" role="button"
                                                 aria-haspopup="true"
                                                 aria-expanded="false">
                            {% trans 'Others Events' %}
                            <span class="caret"></span>
                        </a>
                            <ul class="dropdown-menu">

                                <li><a target="_blank" href="http://cls15.ceoleadershipconference.pe">
                                    Pacific Alliance Business Summit 2015
                                </a>
                                </li>

                            </ul>
                        </li>
                        <li><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                                 aria-haspopup="true"
                                                 aria-expanded="false">

                            {% for language in languages %}
                                {% if language.code == LANGUAGE_CODE %}
                                    {{ language.name_local }}
                                {% endif %}
                            {% endfor %}
                            <span class="caret"></span>
                        </a>
                            <ul class="dropdown-menu language-chooser">

                                {% for language in languages %}
                                    {% if language.code != LANGUAGE_CODE %}
                                        <li>
                                            <form action="{% url 'set_language' %}" method="post">
                                                {% csrf_token %}
                                                <input name="next" type="hidden" value="{{ redirect_to }}"/>
                                                <input name="language" type="hidden" value="{{ language.code }}"/>
                                                <button type="submit">{{ language.name_local }}</button>
                                            </form>
                                        </li>
                                    {% endif %}

                                {% endfor %}

                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>